<ion-header id="delegateHeader">
  <ion-navbar hideBackButton="true">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Delegate</ion-title>
    <ion-buttons end>
      <button ion-button secondary (click)="logout()">
        <ion-icon name="power"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
<h3 *ngIf="delegateInfo == null">Account is not a registered delegate.</h3>
<h3 *ngIf="delegateInfo != null">{{delegateInfo['username']}}</h3>
</ion-content>
