page-login {
	#fingerIcon {
        font-size: 1.75em;
        margin: 0;
        padding: 0 0.4em;
        height: 100%;
        color: #777;
    	position: relative;
    }

    #qrIcon {
        font-size: 1.75em;
        margin: 0;
        padding: 0 0.4em;
        height: 100%;
        color: #777;
        top: 13px;
    	position: relative;
    }

    #loginLogo {
        background: #3d4db8;
        text-align: center;
        margin: -16px -16px 2px -16px;
        padding: 2em;
    }

    #savePasswordBox .item-inner {
        border: none;
    }

    .select-md {
   		max-width: initial;
    }

    .item-button.toggleButtons {
    	border: 1px solid #3d4db8;
    	font-size: 1.6em;
        margin: 0;
        padding: 0.8em 0.4em;
        top: 10px;
    	position: relative;
    	color: #777;
    }

    .item-button.toggleButtons.activeToggle {
    	background-color: #3d4db8;
    	color: #fff;
    }

    #passwordButton {
    	border-radius: 2px 0 0 2px;
    }
    #accountButton {
    	border-radius: 0 2px 2px 0;
    }

    @media(max-width: 1023px){
        #headerLogo {
            width: 192px;
        }
        
    }
    @media(min-width: 1024px){
        #headerLogo {
            width: 256px;
        }
    }
}
