page-login {
	#qrIcon, #fingerIcon {
        font-size: 1.75em;
        margin: 0;
        padding: 0 0.4em;
        height: 100%;
        color: #777;
        top: 13px;
    	position: relative;
    }

    #loginLogo {
        background: #3d4db8;
        text-align: center;
        margin: -16px -16px 2px -16px;
        padding: 2em;
    }

    #savePasswordBox .item-inner {
        border: none;
    }

    .select-md {
   		max-width: initial;
    }

    @media(max-width: 1023px){
        #headerLogo {
            width: 192px;
        }
        
    }
    @media(min-width: 1024px){
        #headerLogo {
            width: 256px;
        }
    }
}
