page-contacts {
	.item-md .item-button {
        font-size: 1.4em;
        vertical-align: initial;
        margin: 0;
        padding: 0 0.25em;
    }

    .header button {
        font-size: 1.5em;
    }
}
